* {
	box-sizing: border-box;
}
.logo {
	font-size: 20px;
	margin-left: 20px;
}
.header {
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
}

.nav-item ul {
	/* border: 2px solid red; */
	list-style: none;
	display: flex;
	flex-direction: row;
	font-size: 24px;
}
.nav-item ul li {
	padding: 0px 20px;
}
.search {
	margin: 20px;
}
.res-card {
	background-color: #f0f0f0;
	padding: 5px;
	border: 1px solid black;
	width: 200px;
	height: 100%;
	margin: 5px;
}
.res-card:hover {
	cursor: pointer;
}
.card-img {
	width: 100%;
}

.res-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
